@import url("https://fonts.googleapis.com/css2?family=Codystar&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  min-height: 100vh;
  padding: 3.2rem;
  color: #f1f3f5;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url("https://i.postimg.cc/q7R0vBGq/cursor-Start-Web.png"), pointer;
  background: url("../public/baground.webp");
  background-size: cover;
  background-repeat: no-repeat;
}


.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  width: 580px;
}


/* header style */
.header {
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header img {
  width: 150px;
  -webkit-animation: spin 5s linear infinite;
  -moz-animation: spin 5s linear infinite;
  animation: spin 10s linear infinite;
}

@-moz-keyframes spin {
  50% {
    -moz-transform: rotate(40deg);
  }
}

@-webkit-keyframes spin {
  50% {
    -webkit-transform: rotate(40deg);
  }
}

@keyframes spin {
  50% {
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
  }
}


/* start in home , show title button */
.start {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  padding: 5%;
}

.start h1 {
  font-family: "Codystar";
  font-size: 20px;
}

.start h2 {
  font-size: 25px;
  margin-bottom: 7%;
}

.start h3 {
  font-size: 17px;
  margin-bottom: 3%;
}

.start h5 {
  font-size: 12px;
  margin-bottom: 7%;
}


/* show progress questions , when start a game */
.progress {
  margin-bottom: 4rem;
  display: grid;
  justify-content: space-between;
  gap: 1.2rem;
  grid-template-columns: auto auto;
  font-size: 20px;
  color: #ced4da;
}

.progress progress {
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  grid-column: 1 / -1;
}

::-webkit-progress-bar {
  background-color: #ced4da;
  border-radius: 100px;
}

::-webkit-progress-value {
  background-color: #3c4145;
  border-radius: 100px;
}


/* show options result */
.btn {
  display: block;
  font-family: inherit;
  color: inherit;
  font-size: 18px;
  border: none;
  background-color: #27b1ca9c;
  padding: 1.2rem 2.4rem;
  cursor: pointer;
  border-radius: 100px;
  transition: 0.3s;
  display: flex;
  justify-content: center;
}

.btn:not([disabled]):hover {
  background-color: rgba(0, 0, 0, 0.201);
  color: white;
}

.btn-option:not([disabled]):hover {
  transform: translateX(1.2rem);
}

.btn[disabled]:hover {
  cursor: not-allowed;
}

.btn-ui {
  float: right;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 3.2rem;
}

.btn-option {
  width: 100%;
  text-align: left;
}

.btn-option.correct {
  background-color: green;
  border: none;
  color: #f1f3f5;
}

.btn-option.wrong {
  background-color: rgba(175, 36, 36, 0.975);
  border: none;
  color: white;
}

.answer {
  transform: translateX(2rem);
}

.showQuestion h4 {
  font-size: 20px;
  margin-bottom: 2.4rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

.btnNext {
  display: block;
  font-family: inherit;
  color: inherit;
  font-size: 2rem;
  border: none;
  background-color: green;
  padding: 1.2rem 2.4rem;
  cursor: pointer;
  border-radius: 100px;
  transition: 0.3s;
  float: right;
}

.btnNext:hover {
  background-color: rgba(0, 0, 0, 0.201);
}

/* show timer */
.timer {
  float: left;
  font-size: 1.8rem;
  color: black;
  padding: 1.35rem 2.8rem;
  border-radius: 100px;
  background: #ced4da;
}


/* show result when finish this game */
.result {
  background-color: #1098ad;
  color: #f1f3f5;
  border-radius: 100px;
  text-align: center;
  padding: 2rem 0;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

.result span {
  font-size: 2.2rem;
  margin-right: 4px;
}


.highscore {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 4.8rem;
}


/* show loading style when connect to website */
.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  gap: 1.6rem;
  color: #ced4da;
  font-size: 1.4rem;
}

.loader {
  width: 50px;
  height: 24px;
  background: radial-gradient(circle closest-side, currentColor 90%, #0000) 0% 50%,
    radial-gradient(circle closest-side, currentColor 90%, #0000) 50% 50%,
    radial-gradient(circle closest-side, currentColor 90%, #0000) 100% 50%;
  background-size: calc(100% / 3) 12px;
  background-repeat: no-repeat;
  animation: loader 1s infinite linear;
}

@keyframes loader {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }

  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }

  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }

  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}


/* message error , when not fetch data */
.error {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 2rem;
  background-color: #495057;
  border-radius: 100px;
}



/* responsive style */
@media(max-width:991px) {

  .main {
    width: 400px;
  }

  .showQuestion h4 {
    font-size: 16px;
    margin-top: -15%;
    background-color: #ced4dae3;
    border-radius: 100px;
    color: #3c4145;
    padding: 5%;
  }

  .header img {
    width: 110px;
  }

  .start h1 {
    font-family: "Codystar";
    font-size: 19px;
  }

  .start h2 {
    font-size: 24px;
    margin-bottom: 7%;
  }

  .start h3 {
    font-size: 14px;
    margin-bottom: 3%;
  }

  .start h5 {
    font-size: 10px;
    margin-bottom: 7%;
  }

  .btn {
    font-size: 14px;
  }

  .progress {
    font-size: 16px;
    padding: 6%;
    margin-top: -7%;
  }

  .progress p {
    background-color: #ced4da;
    color: black;
    border-radius: 100px;
    padding: 6%;
    width: 120px;
    text-align: center;
    font-size: 14px;
  }

  .options {
    margin-top: -5%;
  }

  .btnNext {
    margin-top: -13%;
  }

  .showStyleTimer {
    margin-top: -18%;
  }

  .finishStyleBtn button {
    margin-top: -13%;
    background: orange;
    font-size: 2rem;
    color: black;
  }

  .options,
  .showStyleTimer,
  .start,
  .showQuestion,
  .styleNextQuestion,
  .styleFinish,
  .finishStyleBtn {
    padding: 6%;
  }

}